networks:
  network_cve-2021-44228-minecraft:
  network_cve-2021-44228-solr:
  network_cve-2025-59287:

services:
  cve-2021-44228-minecraft:
    build:
      context: ./cve-2021-44228-minecraft
    container_name: cve-2021-44228-minecraft
    ports:
      - "25565:25565"
    restart: always
    volumes:
      - ./samples/cve-2021-44228-minecraft:/samples
    networks:
      - network_cve-2021-44228-minecraft
    environment:
      - LISTEN_HOST=0.0.0.0
      - LISTEN_PORT=25565
      - SERVER_MOTD=A Minecraft Server
      - SERVER_VERSION=1.18.0
      - PROTOCOL_VERSION=757
      - MAX_PLAYERS=20
      - ONLINE_PLAYERS=3
      - WHITELIST_ENABLED=true
  cve-2021-44228-solr:
    build:
      context: ./cve-2021-44228-solr
    container_name: cve-2021-44228-solr
    restart: always
    volumes:
      - ./samples/cve-2021-44228-solr:/samples
    networks:
      - network_cve-2021-44228-solr
    environment:
      - LISTEN_HOST=0.0.0.0
      - LISTEN_PORT=8000
      - SOLR_VERSION=7.4.0
      - APACHE_VERSION=2.4.41
      - COLLECTION_NAME=collection1

  cve-2021-44228-solr-nginx:
    build:
      context: ./cve-2021-44228-solr/nginx
    container_name: cve-2021-44228-solr-nginx
    ports:
      - "8080:80"
      - "8443:443"
    restart: always
    depends_on:
      - cve-2021-44228-solr
    networks:
      - network_cve-2021-44228-solr

  cve-2025-59287-backend:
    build:
      context: ./cve-2025-59287
    container_name: cve-2025-59287-backend
    restart: always
    volumes:
      - ./samples/cve-2025-59287:/samples
    networks:
      network_cve-2025-59287:
    environment:
      - LISTEN_HOST=0.0.0.0
      - LISTEN_PORT=8081
      - SERVER_NAME=WSUS-SRV-01
      - IIS_VERSION=10.0
      - ASPNET_VERSION=4.0.30319
      - SERVER_VERSION=10.0.14393.0
      - COOKIE_EXPIRATION=2025-12-31T23:59:59Z

  cve-2025-59287-nginx:
    build:
      context: ./cve-2025-59287/nginx
    container_name: cve-2025-59287-nginx
    ports:
      - "8530:8530"
      - "8531:8531"
    restart: always
    depends_on:
      - cve-2025-59287-backend
    networks:
      - network_cve-2025-59287