networks:
  network_cve-2021-44228-minecraft:

services:
  cve-2021-44228-minecraft:
    build:
      context: .
    container_name: cve-2021-44228-minecraft
    ports:
      - "25565:25565"
    restart: always
    volumes:
      - ./samples:/samples
    networks:
      - network_cve-2021-44228-minecraft
    environment:
      LISTEN_HOST: "0.0.0.0"
      LISTEN_PORT: 25565
      SERVER_MOTD: "A Minecraft Server"
      SERVER_VERSION: "1.18.0"
      PROTOCOL_VERSION: 757
      MAX_PLAYERS: 20
      ONLINE_PLAYERS: 3
      WHITELIST_ENABLED: true
