networks:
  network_cve-2021-44228-solr:

services:
  cve-2021-44228-solr:
    build:
      context: .
    container_name: cve-2021-44228-solr
    restart: always
    volumes:
      - ./samples:/samples
    networks:
      - network_cve-2021-44228-solr
    environment:
      LISTEN_HOST: "0.0.0.0"
      LISTEN_PORT: 8000
      SOLR_VERSION: "7.4.0"
      APACHE_VERSION: "2.4.41"
      COLLECTION_NAME: "collection1"

  cve-2021-44228-solr-nginx:
    build:
      context: ./nginx
    container_name: cve-2021-44228-solr-nginx
    ports:
      - "8080:80"
      - "8443:443"
    restart: always
    depends_on:
      - cve-2021-44228-solr
    networks:
      - network_cve-2021-44228-solr
