networks:
  network_cve-2023-1389:

services:
  cve-2023-1389-backend:
    build:
      context: .
    container_name: cve-2023-1389-backend
    restart: always
    volumes:
      - ./samples:/samples
    networks:
      - network_cve-2023-1389
    environment:
      LISTEN_HOST: "0.0.0.0"
      LISTEN_PORT: "8082"
      ROUTER_MODEL: "Archer AX21"
      FIRMWARE_VERSION: "1.1.0 Build 20211105"

  cve-2023-1389-nginx:
    build:
      context: ./nginx
    container_name: cve-2023-1389-nginx
    ports:
      - "80:80"
      - "443:443"
    restart: always
    depends_on:
      - cve-2023-1389-backend
    networks:
      - network_cve-2023-1389
